body {
    background-color: #000;
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.enter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    display: none; 
    z-index: 9998; 
}

.enter-message {
    position: fixed;
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    user-select: none;
    z-index: 10000;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
}

.container {
    text-align: center;
    position: relative; 
    background-color: transparent; /* Semi-transparent white */
    border-radius: 10px; /* Adjust border radius as needed */
    width: 400px; /* Initial width */
    margin: 0; /* Remove default margin */
    padding: 40px; /* Adjust padding as needed */
}

.container.profile-box {
    background-color: transparent; /* Remove background color */
    border-radius: inherit; /* Inherit border radius from container */
    padding: 40px; /* Adjust padding as needed */
    width: 100%; /* Match the width of the container */
    position: relative; 
    z-index: 998; 
    user-select: none;
    backdrop-filter: inherit; /* Inherit backdrop filter from container */
    box-shadow: inherit; /* Inherit box shadow from container */
}

.profile-picture {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    margin-bottom: 0px; 
    position: relative; 
    z-index: 997; 
    user-select: none;
    border: 3px solid rgb(255, 255, 255); /* Add this line for the white ring */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff; /* Neon glow effect */
}

.badge img {
    width: 25px; 
    height: 25px; 
    margin-bottom: -3.6px; 
}

.badge-container {
    display: inline-block;
    padding: 4px 5px; 
    border-radius: 30px; 
    background-color: rgba(255, 255, 255, 0.8);      
    position: relative; 
}

.badge {
    display: inline-block;
    position: relative;
}


.profile-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-top: 20px;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
    transition: text-shadow 0.4s ease;
    flex-wrap: wrap;
}

.profile-links li {
    margin: 0 10px;
}

.profile-links li a {
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: transform 0.3s, text-shadow 0.3s;
    position: relative; /* Required for the tooltip */
}

.profile-links li a:hover {
    transform: scale(1.2);
    text-shadow: 0 0 15px #fff, 0 0 30px #fff, 0 0 45px #fff, 0 0 60px #fff, 0 0 75px #fff;
}

.profile-links li a i {
    font-size: 36px;
    transition: font-size 0.3s ease;
}

.profile-links li a:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 84%;
    left: 50%;
    font-weight: 600;
    transform: translateX(-50%);
    background-color: #000000;
    color: #ffffff;
    padding: 2px 3px;
    border-radius: 10px;
    font-size: 10px;  /* Smaller font size */
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-links li a:hover::after {
    opacity: 1;
}


@media (max-width: 768px) {
    .profile-links li a {
        width: 50px;
        height: 50px;
    }

    .profile-links li a i {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .profile-links li a {
        width: 40px;
        height: 40px;
    }

    .profile-links li a i {
        font-size: 24px;
    }
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

#audio {
    display: none;
}

.badge-wrapper {
    position: relative;
    display: inline-block; 
}

.bubble {
    position: absolute;
    top: -31px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 3px 5px; 
    border-radius: 10px; 
    font-size: 12px;
    font-weight: 600; 
    color: #ffffff; 
    opacity: 0; 
    transition: opacity 0.3s; 
    pointer-events: none; 
    width: 60px;
}

.badge:hover .bubble {
    opacity: 1; 
}

.profile-name {
    background-image: linear-gradient(to right, rgb(233,233,233), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff; /* Neon glow effect */

}

.profile-name img {
vertical-align: -9px;
}

#clock {
    font-size: 15px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 95px;
    background-color: transparent; /* Semi-transparent white */
    border-radius: 10px; /* Adjust border radius as needed */
    width: 130px; /* Initial width */
}

#weather {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    bottom: 70px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    position: fixed;
    background-color: transparent; /* Semi-transparent white */
    border-radius: 10px; /* Adjust border radius as needed */
    width: 220px; /* Initial width */
}

.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 45px;
    background-color: transparent; /* Semi-transparent white */
    border-radius: 10px; /* Adjust border radius as needed */
    width: 280px; /* Initial width */
}

/* Responsive styles */
@media (max-width: 768px) {
    #clock {
        font-size: 13px;
        width: 110px;
    }

    #weather {
        font-size: 13px;
        width: 180px;
    }

    .footer {
        font-size: 13px;
        width: 240px;
    }
}

@media (max-width: 480px) {
    #clock {
        font-size: 11px;
        width: 90px;
    }

    #weather {
        font-size: 11px;
        width: 140px;
    }

    .footer {
        font-size: 11px;
        width: 220px;
    }
}


#mute-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff; /* Neon glow effect */
}

#mute-button:hover {
    background-color: #ffffff;
}

#mute-button i {
    font-size: 24px;
    color: #000000;
}

/* Media query for smaller devices */
@media (max-width: 480px) {
    #mute-button {
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
    }
}
