@font-face {
    font-family: custom-font;
    src: url(https://fonts.cdnfonts.com/s/85546/Satoshi-Medium.woff);
}
* {
    font-family: custom-font;
}

body {
    background-size: cover;
    background-position: center center;
    display: flex;
    color: #fff;
    background-color: #1F2128;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.imgundragable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.customglow-username {
    font-size: 30px;
    margin-right: 10px;
    color: #ffffff;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    filter: drop-shadow(0 0 0.2rem #ffffff);
}


.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
    }
    50% {
        box-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
    }
    100% {
        box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
    }
}

.avatar_effect {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
    animation: glow 2s infinite;
    margin-bottom: 10px;
}


.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}


.rainbow-username {
  font-size: 30px;
  font-weight: bold;
  
  margin-right: 10px;
  color: #ff0000;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


  /* border */
  .border {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 39px 27px;
      width: 100%;
      max-width: 35.9rem;
      border-radius: 35px;
      backdrop-filter: blur(7px);
      background-color: rgb(255, 255, 255, 0.13) !important;
      box-shadow: 0 0 2.5px #ffffff;
     backdrop-filter: blur(7px);
    background-color: rgb(0, 0, 0, 0.13) !important;
    box-shadow: 0 0 2.5px #ffffff;
    background: linear-gradient(
        45deg, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.1) 40%, 
        rgba(255, 255, 255, 0.1) 60%, 
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 200% 200%;
    animation: shine 4s ease-in-out infinite, slide 2s forwards;
  }


@keyframes shine {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}


@keyframes slide {
    0% {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


  @media (max-width : 480px) {
      .border {
          left: 50%;
          padding: 0px, 0px;
          width: 80%;
          max-width: 100%;
          border-radius: 21px;
      }
  }
  
.role-icon-wrapper {
    padding: 7px 10px 1.5px;
    border-radius: 50px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: inline-flex;
    place-items: center;
    margin: 2px auto 20px;
    background-color: rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.icon:active {
  transform: scale(1.2);
}

.icon {
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.pixelated {
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: transparent url(media/Pixelated.png) repeat 0 0;
}



  /* icons */
  social-icons {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .icon {
     margin: 20px;
     width: 35px;
     height: 35px;
  }
  
  .icon-link {
      margin: 10px;
      text-decoration: none;
      text-align: center;
  }
  
  .icon-link:not(:nth-child(-n+8)) {
      display: none;
  }
  
  /* social media */
  
  .social-media {
      text-align: center;
      position: relative;
  }
  
  .description {
    font-size: 17px;
        margin: 14px 0;
      color: #fff;
  }
  
  .username {
      color: #777777;
      font-size: 30px;
      margin-right: 10px;
      
      font-weight: bold;
      text-shadow: 0 0 10px rgba(150, 47, 191, 0.7), 0 0 20px rgba(255, 0, 80, 0.7), 0 0 30px rgba(0, 242, 234, 0.7);
      animation: username 13s infinite;
  }
  

  
  .normal-username {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
    
    font-weight: bold;
}

  /* Audio play button */
#play-audio {
    margin-top: 20px;
    padding: 1px 200px;
    background-color: #ffffff00;
    color: #ffffff;
    font-family: custom-font;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#play-audio:hover {
    background-color: #f0f0f0;
    color: #000;
}

#play-audio:active {
    transform: scale(0.98);
}

.role-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
}

.role-icon img {
    width: 31px;
    height: 31px;
}



  .sparky-effect {
    background-image: url(static/userinfo/effects/sparkle.gif);
    display: inline-block;
    padding: 10px;
}


  .glowblue-username {
    font-size: 30px;
    margin-right: 10px;
    
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff, 0 0 80px #0000ff;
}





@keyframes popin {
    0% { transform: scale(0.5) translateX(-50%); }
    100% { transform: scale(1) translateX(-50%); }
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    font-weight: 580!important;
    user-select: none;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    display: block;
    z-index: 1;
    transform: scale(0) translateX(-50%);
    left: 50%;
    bottom: 110%;
    letter-spacing: .01cm!important;
    font-size: 14.3px;
    transition: transform 0.1s ease-out;
}


.role-icon:hover .tooltip,
.role-icon:focus-within .tooltip {
    animation: popin 0.1s ease-out forwards;
}



  
  /* glow animation */
  
  @keyframes username {
      0% {
          text-shadow: 0px 0px 9px #5539cc;
          opacity: 1;
      }
      14% {
          text-shadow: 0px 0px 9px #5539cc;
          opacity: 0.50;
      }
      20% {
          text-shadow: 0px 0px 5px #feda75,
          0px 0px 5px #fa7e1e,
          0px 0px 5px #d62976,
          0px 0px 5px #962fbf,
          0px 0px 5px #4f5bd5;
          opacity: 1;
      }
      30% {
          text-shadow: 0px 0px 5px #229ED9;
          opacity: 0.25;
      }
      40% {
          text-shadow: 0px 0px 10px #A00003;
          opacity: 1;
      }
      50% {
          text-shadow: 0px 0px 10px #FFFC00;
          opacity: 0.25;
      }
      60% {
          text-shadow: 0px 0px 5px #0079C1;
          opacity: 1;
      }
      70% {
          text-shadow: 0px 0px 5px gray;
          opacity: 0.25;
      }
      80% {
          text-shadow: 0px 0px 5px blue;
          opacity: 1;
      }
      90% {
          text-shadow: 0px 0px 5px #E60023;
          opacity: 0.25;
      }
  }
  

.videobg {
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute
}

#vidx {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1
}

@keyframes fadeinout{
    0%{
        background-position:-500%
    }
    100%{
        background-position:500%
    }
}
.fadeinoutname{
    margin-right: 10px;
    position:relative;
    overflow:hidden;
    background: linear-gradient(90deg,#000,#ffffff,#ffffff,#000);
    background-repeat:no-repeat;
    background-size:80%;
    animation:fadeinout 2s linear infinite;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

.status {
    color: #f23f43;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_dnd {
    color: #f23f43;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_streaming {
    color: #b93ff2;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_idle {
    color: #eff23f;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_online {
    color: #08d334;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.statuscontainer_offline {
    color: #858585;
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

.container, .discordcontainer {
    padding: 10px;
    border-radius: 15px;
    position: relative;
    display: inline-flex;
    place-items: center;
}

.profile-pic, .avatarcontainer {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.info h1, .infocontainer h1 {
    text-align: left;
    padding: 0;
    margin: 0 0 0 11px;
    font-size: 19.7px;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 630;
}

.status, .statuscontainer_dnd, .statuscontainer_idle, .statuscontainer_online {
    position: absolute;
    font-size: 19.5px;
    bottom: 3.5px;
    left: 55.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.status {
    color: #f23f43;
}

.statuscontainer_dnd {
    color: #f23f43;
}

.statuscontainer_idle {
    color: #eff23f;
}

.statuscontainer_online {
    color: #08d334;
}

.infocontainer h3 {
    text-align: left;
    padding: 0;
    font-size: 13.2px;
    font-weight: 520;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 3.5px 6px 0 11px;
}

@media (max-width: 767px) {
    .info h1, .infocontainer h1 {
        max-width: 115px;
    }

    .infocontainer h3 {
        max-width: 115px;
    }
}

@media (min-width: 768px) {
    .info h1, .infocontainer h1 {
        max-width: 170px;
    }

    .infocontainer h3 {
        max-width: 170px;
    }
}

@media (min-width: 992px) {
    .info h1, .infocontainer h1 {
        max-width: 210px;
    }

    .infocontainer h3 {
        max-width: 210px;
    }
}

@media (min-width: 1200px) {
    .info h1, .infocontainer h1 {
        max-width: 240px;
    }

    .infocontainer h3 {
        max-width: 270px;
    }
}

@media (max-width: 359px) {
    .info h1, .infocontainer h1 {
        max-width: 100px;
    }

    .infocontainer h3 {
        max-width: 100px;
    }
}

.emojicss {
    margin-top: -1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 5px;
    margin-right: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 19px;
    width: auto
}

#myLink {
 cursor: pointer;
}
